.accord input {
  display: none;
}

.accord-content {
  display: none;
}

.accord input:checked ~ .accord-content {
  display: block;
}

.accord label {
  cursor: pointer;
  font-weight: 700;
  display: block;
  margin: 9px 0 -2px;
  padding: 0;

  &::before {
    content: "";
    float: right;
    width: 19px;
    height: 13px;
    background: url("../img/arrow-down.svg") 0 0 no-repeat;
    margin-top: 5px;
  }
}

.accord input:checked + label:before {
  transition: transform .35s;
  transform: rotate(180deg);
}

.accord input:checked + label + .accord-content {
  height: auto;
  color: $main-color;
}

.accord input:checked + label {
  color: #00C368;
}

.accord {
  &__icon {
    display: none;
  }
}


.accord {
  &__item {
    &:nth-child(1) {
      padding: 0;
      border-bottom: 1px solid #E7EBF0;
    }
    &:nth-child(2) {
      padding: 8px 0 18px 0;
      border-bottom: 1px solid #E7EBF0;
    }
    &:nth-child(3) {
      padding-top: 7px;
      border-bottom: 1px solid #E7EBF0;
    }
    &:nth-child(4) {
      padding-top: 6px;
      border-bottom: 1px solid #E7EBF0;
    }
    &:nth-child(5) {
      margin-bottom: 8px;
      padding: 5px 0 11px 0;
    }
  }
}

@media (min-width: 1300px) and (max-width: $desktop-width) {
  .accord label {
    font-size: 24px;
    line-height: 28px;
    width: 100%;

    &::before {
      background: url("../img/arrow-down.svg") 0 0 no-repeat;
      margin-top: 13px;
    }
  }

  .accord {
    position: relative;
    float: right;
    &__item {
      &:nth-child(1) {
        padding-top: 18px;
        padding-bottom: 19px;
      }
      &:nth-child(3) {
        padding-bottom: 19px;
      }
      &:nth-child(4) {
        padding-bottom: 21px;
      }
    }

    &__icon {
      display: block;
      position: relative;
      float: left;
      margin-right: 25px;
      top: 4px;
    }
  }
}