.header {
    margin: 0 auto;
    padding: 0;
  
    &__logo {
      margin: 11px 0 0 47px;
    }
  
    &__logo-img {
      display: block;
      margin: 0 auto;
      padding: 0;
    }
  }
  
  @media (min-width: 1300px) and (max-width: $desktop-width) {
    .header {
      height: 160px;
      padding-left: 73px;
  
      &__logo {
        position: relative;
        float: left;
        width: 318px;
        margin: 28px 0 0 0;
      }
  
      &__logo-img {
        width: 318px;
        height: 100%;
        margin: 0;
      }
    }
  }